<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LIS" value="Data Source=LAPTOP-L76ARNGI\SQLEXPRESS;database=demo;Integrated Security=true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="GRAPHICALPASSWORDConnectionString" connectionString="Data Source=LOCALHOST\LOCALHOST;Initial Catalog=MultipleAuthentication;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=LOCALHOST\LOCALHOST;Initial Catalog=MultipleAuthentication;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DISEASESConnectionString" connectionString="Data Source=LOCALHOST\LOCALHOST;Initial Catalog=MultipleAuthentication;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="15360"/>
  </system.web>
</configuration>